@model UploadLink

<div class="panel">
    <div class="container">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Course.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Course.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TimeOpen)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TimeOpen)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TimeClose)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TimeClose)
            </dd>
        </dl>
        <div class="row">
            <form asp-action="Activate"
                  asp-route-pageIndex="@ViewBag.pageIndex"
                  asp-route-searchString="@ViewBag.searchString"
                  >
                <div class="form-group">
                    <label for="password" >Mật khẩu</label>
                    <input type="password" class="form-control form-control-user"
                           id="password"
                           required
                            name="password"
                            placeholder="Mật khẩu...">
                </div>

                <button type="submit" class="btn btn-primary btn-user btn-block">
                    Kích hoạt
                </button>
            </form>
        </div>
    </div>
</div>