@model TestLinks.Models.UploadLink

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Xóa link upload</h1>

<h3>Bạn có muốn xóa link upload bên dưới (Các file upload với link cũng sẽ bị xóa)?</h3>
<div>
    <h4>Link Upload</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeOpen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeOpen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeClose)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeClose)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseTerm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseTerm)
        </dd>
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Details" asp-route-id="@Model.Id">Quay lại</a>
    </form>
</div>
