@model PaginatedViewModel<TestLinks.Models.UploadLink>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    string searchString = null;
    Model.Filters.TryGetValue("searchString", out searchString);

    var vm = new TestLinks.Models.PaginatedNavigatorViewModel()
    {
        Filters = Model.Filters,
        PaginatedList = Model.Items
    };

   
}

<h1>Danh sách link nộp bài</h1>
@if (User.IsInRole(Constants.RoleAdmin))
{
    <p class="mt-2">
        <a asp-action="Upload">⬆️ Upload link</a> |
        <a asp-action="ExportLink">⬇️ Tải về links</a> |
        <a asp-action="Create">➕ Thêm mới</a>
    </p>
}

<div class="panel mb-3">
    <partial name="_SearchForm" model="Model" />
   
</div>

<table class="table table-striped table-sm">
    <thead>
        <tr>
            <td>
            </td>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].CourseId)
            </th>
            <th>Phòng</th>
            <th>Thời gian</th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            //var testLink = $"/UploadTests/Login/{item.Id}";
            //var testLink = Url.Action("Login", "UploadTests", new { item.Id });
            var testLink = Html.ActionLink("Link", "Login", "UploadTests", new { item.Id }, new
            {
                _target = "blank"
            });
            <tr>
                <td>
                    @if (item.Active)
                    {
                        <i data-feather="check-circle" class="text-primary"></i>
                    }
                    else
                    {
                        <i data-feather="alert-circle" class="text-warning"></i>
                    }
                </td>

                <td>
                    
                    @Html.DisplayFor(modelItem => item.Course.Name) <span class="badge badge-info float-right">@item.TimeOpen.ToString("dd/MM/yyyyy")</span>
                    @if (item.Available)
                    {
                        <span class="badge badge-success float-right mr-1">Đang thi</span>
                    }
                    <p class="text-muted m-0">@Html.DisplayFor(modelItem => item.Description)</p>
                </td>
                <td>@Html.DisplayFor(e => item.Room)</td>
                <td>
                    @item.TimeOpen.ToString("hh:mm tt")
                    <i data-feather="arrow-right"></i>
                    @item.TimeClose.ToString("hh:mm tt")
                </td>

                <td>
                    @if (User.IsInRole(Constants.RoleAdmin))
                    {
                         @if (item.Active)
                        {
                            <a asp-action="Deactivate"
                                asp-route-pageIndex="@vm.PaginatedList.PageIndex"
                                asp-route-searchString="@searchString"
                                asp-route-id="@item.Id">Tạm dừng</a>
                        }
                        else
                        {
                            <a asp-action="Activate"
                               asp-route-pageIndex="@vm.PaginatedList.PageIndex"
                               asp-route-searchString="@searchString"
                               asp-route-id="@item.Id">Kích hoạt</a>
                        }
                    }
                   
                    <a asp-action="Details" asp-route-id="@item.Id" asp-route-pageIndex=@vm.PaginatedList.PageIndex asp-route-searchString=@searchString class="ml-2">Chi tiết</a>

                </td>
            </tr>
        }
    </tbody>
</table>


<partial name="_PartialPagination" model="@vm" />
